.Modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(50% - 40px);
    min-height: 50%;
    background-color: var(--white);
    padding: 20px;
    z-index: 1;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;

}


